html {
	height: 100%;
}
body {
	background-color: #000000;
	color: #FFFFFF;
	height: 100%;
}

a {
	text-decoration: none;
}

/* Bootstrap container map div */
#godViewContainer {
	height: 50%;
	padding: 0px;
}

/* Div for map view */
#godViewColumn {
	height: 100%;
	padding: 0px;
}

#messageContainer {
	position: absolute;
	width: 100%;
	left: 0px;
    top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#messageTitle {
	font-weight: bold;
}

#detailViewContainer {
	height: 50%;
	padding: 0px;
	background-color: #1d1d1d;
}

#detailViewContainer > .row {
	margin: 0px;
}

#detailViewColumn {

}

#actionViewColumn {
	
}

.actionColumnTitle {
	font-size: 2em;
}

.phoneNumberTitle {
	color: #2d89ef;
	display: inline-block;
	font-size: 2em;
	margin-bottom: 0px;
}

.latestTimeTitle {
	color: #BFBFBF;
	display: inline-block;
	padding-left: 1em;
	font-size: 0.83em;
}

.locationTitle {
	font-size: 1em;
	font-family: ‘Lucida Console’, Monaco, monospace;
}

.statusTitle {
	padding: 5px 0px 5px 0px;
	border-radius:0px;
	/*font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;*/
	font-weight: normal;
	font-size: 1.0em;
	letter-spacing: 2px;
	text-align: center;
}

.inactiveTitle {
	background-color: rgba(201,48,44,1);
}

.pendingTitle {
	background-color: rgba(51,122,183,1);
}

.confirmedTitle {
	background-color: rgba(236,151,31,1);
}

.completedTitle {
	background-color: rgba(68,157,68,1);
}

#mapCanvas {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-radius: 5px;
}

/* Style for buttons (ex: action buttons) that reside within actionButtonHolder(s) */
.actionButtonHolder > button {
  	width: 100%;
  	padding: 5px;
	border-radius: 5px;
	/*font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;*/
	font-weight: normal;
	font-size: 1.5em;
	letter-spacing: 2px;
	text-align: center;
}

/* Hide Google logo due to lack of space */
/* http://stackoverflow.com/questions/12499886/how-to-hide-or-disable-the-google-logo-footer-copyright-on-google-maps-javascr */
/*a[href^="http://maps.google.com/maps"]{display:none !important}*/
/*a[href^="https://maps.google.com/maps"]{display:none !important}*/

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}